body {
	
	background-color: lightgray;
	
}
.miniProject1 {
	margin-top: 100px;
	font-family: sans-serif;
}

.container {
	width: 50%;
	background-color: white;
	margin: 30px auto;
	text-align: center;
	border-radius: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 10px #808080;
}

.mblogo {
	border-radius: 50%;
	border: dotted 3px gray;
	margin-top: 40px;
}
.mbName {
	margin: 20px auto;
	width: fit-content;
	font-size: 45px;
	font-weight: bold;
	color: #808080;
	border-bottom: solid 15px #d5d1d2;
}
.please {
	font-size: 30px;
	color: rgb(95, 95, 95);
}

.socialbox {
	background-color: lightgray;
	padding: 10px 150px;
	margin: 40px auto;
}
.instalogo,
.youlogo,
.facelogo {
	width: 80px;
	border-radius: 50%;
	margin: 20px;
}

a {
	text-decoration: none;
}
