
*{
    padding: 0;
    margin: 0;
}.container{

}

.div1::before {
    content: "";
    background-image: url(image/25563.jpg);
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.div1 {
    height: 100vh;
    
}

p {
    font-size: 50px;
    margin: 0px auto;
    text-align: center;
}
