* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.container {
	margin: auto;
	width: 800px;
	text-align: center;
}
.container1 {
	position: relative;
	margin: 50px auto;
	background-color: #c801da;
	width: 600px;
	height: 600px;
}
.box1 {
	position: absolute;
	width: 200px;
	height: 200px;
	background: linear-gradient(135deg, #ffffff 50%, transparent 50%);
}
.c1-title {
	position: absolute;
	color: white;
	left: 200px;
	top: 200px;
	z-index: 1;
}
.c1-desc {
	position: absolute;
	color: white;
	left: 200px;
	top: 250px;
	z-index: 1;
}
/* باکس پایینی */

.container2 {
	margin: 50px auto;
	background-color: blue;
	width: 600px;
	height: 600px;
	position: relative;
}
.box2 {
	position: absolute;
	width: 550px;
	height: 550px;
	background-color: #ffffff;
	left: 25px;
	top: 25px;
}
.box2-1 {
	position: absolute;
	background: linear-gradient(135deg, white 50%, transparent 50%);
	width: 200px;
	height: 200px;
	z-index: 1;
}

.box2-2 {
	position: absolute;
	background: linear-gradient(135deg, blue 50%, white 50%);
	width: 200px;
	height: 200px;
	left: 25px;
	top: 25px;
}

.c2-title {
	position: absolute;
	left: 200px;
	top: 200px;
	z-index: 1;
}
.c2-desc {
	position: absolute;
	left: 200px;
	top: 250px;
	z-index: 1;
}
