
.shadow {
	width: 500px;
	height: 500px;
	border: solid	3 px #ccc;
	background-color: gray;
	margin: 100px;
	box-shadow: 10px 10px;
	direction: rtl;
}

.child1{
	display: inline-block;
	height: 30%;
	width: 30%;
	background-color: red;
}

.child2{
	display: inline-block;
	height: 30%;
	width: 30%;
	background-color: green;
}

.child3{
	display: inline-block;
	height: 30%;
	width: 30%;
	background-color: blue;
}

p{
	display: inline-block;
	text-align: left;
}