*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 200px;
    width: 100%;
    border: solid 1px black;
    margin: 1% auto;
    padding: 0.5%;
    display: flex;
    justify-content: space-between ;

}

.header-left{
    background-color: #891382;
    width: 43%;
}
.header-right{
    background-color: #891382;
    width: 55%;
}

.main{
    padding: 0.5%;
    border: solid 1px black;
    margin: 1% auto;
    height: 400px;
    display: flex;
    justify-content: space-between;


}
.main-left{
    width: 48%;
    background-color: #FFA400;
}
.main-right{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-right-top{
    background-color: #000FFF;
    height: 48%;
    
}
.main-right-bottom{
    background-color: #000FFF;
    height: 48%;
}


.footer{
    padding: 0.5%;
    border: solid 1px black;
    margin: 1% auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
}


.footer1 , .footer2 , .footer3 {
    width: 30%;
    background-color: #F692F0;
}