* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.container {
	height: 900px;
	width: 900px;
	background-color: lightgray;
}
.box {
	background-color: blue;
	width: 100px;
	height: 100px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}


