.grid-container{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 3px;
    
}




.item{
    background-color: blueviolet;
    font-size: 2em;
    border: solid 1px blue;
    box-sizing: border-box;
    text-align: center;
    grid-template-columns: repeat(2,2fr);
}
.item1{
    background-color: green;
grid-column-start: 1;
grid-column-end:3 ;

grid-row-start: 1;
grid-row-end: 3

    
}