.container{
  width: 200px;
  height: 200px;
  background-color: brown;
  margin-top: 50px;
}


p{
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: aqua;
  margin-top: 0px;
}